@model IEnumerable<FashionM.Models.Inventario>

@{
    ViewData["Title"] = "Inventario";
}

<h2>Inventario</h2>

<!-- 👇 BOTÓN CREATE -->
<a asp-action="Create" class="btn btn-primary mb-3">
    Nuevo Inventario
</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Marca</th>
            <th>Color</th>
            <th>Detalle</th>
            <th>SKU</th>
            <th>Precios</th>
            <th>Tallas</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Codigo</td>
                <td>@item.Marca</td>
                <td>@item.Color</td>
                <td>@item.Detalle</td>
                <td>@item.SKU</td>
                <td>
                    Costo: @item.PrecioCosto <br />
                    Venta: @item.PrecioVenta
                </td>
                <td>
                    @foreach (var talla in item.Tallas)
                    {
                        <div>
                            Talla @talla.Numero :
                            <strong>@talla.Cantidad</strong>
                        </div>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Codigo">Editar</a> |
                    <form asp-action="Delete"
                          method="post"
                          onsubmit="return confirm('¿Eliminar este inventario?')">

                        <input type="hidden" name="codigo" value="@item.Codigo" />

                        <button class="btn btn-danger btn-sm">
                            🗑 Eliminar
                        </button>

                        @Html.AntiForgeryToken()
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>